//tipografia
$fuente_principal:'Source Code Pro', sans-serif;
$fuente__titulo: 'Righteous', sans-serif;

$negro: #00000050;
$lila: #9a4baa;
$blanco: #ffffff;
$plata:#dfe2e8;
$dorado: #f7c52f;
$azul:#39dae6;
$rojo: #e73f3f;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;