.sobre-festival{
    padding: 5rem 0rem;
    @include tablet {
    @include grid(2, 2rem);
    }
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        margin-top:0;
    }
    h2{
        margin-bottom: 2rem;
    }
    .fecha{
        color: $lila;
        font-weight: 700;
    }
}




